# Collect Initial Data

# Describe Data

In [1]:
import glob
import os

In [18]:
data_directory = "C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos/"

file_names = [os.path.basename(x) for x in glob.glob(data_directory+"*.xlsx")]
dir_files = glob.glob(data_directory+"*.xlsx")

del file_names[-1]
del dir_files[-1]

print(file_names)
print(dir_files)

['AltosDelValle_Cotizaciones.xlsx', 'AltosDelValle_Negocios.xlsx', 'Junge_Cotizaciones.xlsx', 'Junge_Negocios.xlsx', 'Mil610_Cotizaciones.xlsx', 'Mil610_Negocios.xlsx', 'SanAndresDelValle_Cotizaciones.xlsx', 'SanAndresDelValle_Negocios.xlsx', 'Urban_Cotizaciones.xlsx', 'Urban_Negocios.xlsx']
['C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\AltosDelValle_Cotizaciones.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\AltosDelValle_Negocios.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Junge_Cotizaciones.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Junge_Negocios.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Mil610_Cotizaciones.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Mil610_Negocios.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\SanAndresDelValle_Cotizaciones.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\SanAndresDelValle_Negocios.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Urban_Cotizaciones.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Urban_Negocios.xlsx']

In [48]:
project_names = []
project_types = []
project_file_types = []
for file in file_names:
    project_names.append(file.split('_')[0])
    project_types.append(file.split('_')[1].split('.')[0])
    project_file_types.append(file.split('.')[1])
project_names

['AltosDelValle',
 'AltosDelValle',
 'Junge',
 'Junge',
 'Mil610',
 'Mil610',
 'SanAndresDelValle',
 'SanAndresDelValle',
 'Urban',
 'Urban']

In [20]:
import pandas as pd
dfs = []

for file_dir in dir_files:
    df = pd.read_excel(file_dir,header=0)
    dfs.append(df)

In [27]:
dfs[-1].head(2)['Fecha Cotizacion']

0    2017-03-27 17:03:29.563
1    2017-03-28 17:25:30.197
Name: Fecha Cotizacion, dtype: object

In [ ]:
# columnas para los archivos:name,cotizacion,negocio,size,#cols,#rows,#file_type,#
index=0
print(project_names[index])
print(project_types[index])
print(project_file_types[index])
print(dfs[index].shape[0])
print(dfs[index].shape[1])
print(dfs[index].memory_usage(index=True).sum())
# print(dfs[index].info())

In [57]:
mem_usage = []
rows = []
columns = []
file_type = []
fechas_min = []
fechas_max = []

format_time = '%Y-%m-%d'
for df in dfs:
    columns.append(df.shape[0])
    rows.append(df.shape[1])
    mem_usage.append(df.memory_usage(index=True).sum())
    fechas_min.append(pd.to_datetime(df['Fecha Cotizacion'].tolist()).min())
    fechas_max.append(pd.to_datetime(df['Fecha Cotizacion'].tolist()).max())

print(len(project_names),len(project_types),len(project_file_types),len(rows),len(columns),len(mem_usage))
    
list_labels =['nombre','tipo','archivo','num_filas','num_columnas','uso_memoria','fecha_min','fecha_max']
list_cols =[project_names,project_types,project_file_types,rows,columns,mem_usage,fechas_min,fechas_max]

zipped = list(zip(list_labels,list_cols))
data = dict(zipped)
df_files = pd.DataFrame(data)

10 10 10 10 10 10

In [58]:
df_files

,archivo,fecha_max,fecha_min,nombre,num_columnas,num_filas,tipo,uso_memoria
0,xlsx,2018-04-20 15:33:46.000,2017-07-27 15:46:54.000,AltosDelValle,442,31,Cotizaciones,109696
1,xlsx,2018-04-17 13:42:58.670,2017-07-27 15:46:58.750,AltosDelValle,100,38,Negocios,30480
2,xlsx,2018-04-19 12:42:56.000,2016-01-19 08:53:16.000,Junge,801,31,Cotizaciones,198728
3,xlsx,2018-04-18 18:25:01.797,2016-01-25 13:21:02.013,Junge,101,38,Negocios,30784
4,xlsx,2018-04-19 19:01:45.000,2016-09-22 16:36:03.000,Mil610,1719,31,Cotizaciones,426392
5,xlsx,2018-04-19 12:00:18.270,2016-09-26 16:12:56.703,Mil610,76,38,Negocios,23184
6,xlsx,2018-04-27 12:13:48.000,2013-08-19 16:58:26.000,SanAndresDelValle,10593,31,Cotizaciones,2627144
7,xlsx,2018-04-26 16:05:35.993,2013-08-19 18:35:56.620,SanAndresDelValle,1814,38,Negocios,551536
8,xlsx,2018-04-26 18:17:22.430,2017-03-24 18:36:24.000,Urban,2683,31,Cotizaciones,665464
9,xlsx,2018-04-26 16:50:07.440,2017-03-27 17:03:29.563,Urban,196,38,Negocios,59664

In [42]:
fechas = pd.to_datetime(dfs[-1]['Fecha Cotizacion'].tolist())

In [45]:
fechas.min()

Timestamp('2017-03-27 17:03:29.563000')