# Collect Initial Data

In [42]:
import glob
import os
import numpy as np

In [2]:
data_directory = "C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos/"

file_names = [os.path.basename(x) for x in glob.glob(data_directory+"*.xlsx")]
dir_files = glob.glob(data_directory+"*.xlsx")

del file_names[-1]
del dir_files[-1]

print(file_names)
print(dir_files)

['AltosDelValle_Cotizaciones.xlsx', 'AltosDelValle_Negocios.xlsx', 'Junge_Cotizaciones.xlsx', 'Junge_Negocios.xlsx', 'Mil610_Cotizaciones.xlsx', 'Mil610_Negocios.xlsx', 'SanAndresDelValle_Cotizaciones.xlsx', 'SanAndresDelValle_Negocios.xlsx', 'Urban_Cotizaciones.xlsx', 'Urban_Negocios.xlsx']
['C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\AltosDelValle_Cotizaciones.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\AltosDelValle_Negocios.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Junge_Cotizaciones.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Junge_Negocios.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Mil610_Cotizaciones.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Mil610_Negocios.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\SanAndresDelValle_Cotizaciones.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\SanAndresDelValle_Negocios.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Urban_Cotizaciones.xlsx', 'C:/Users/jquin/Desktop/Memoria de Titulo/Aitue/Datos\\Urban_Negocios.xlsx']

In [3]:
project_names = []
project_types = []
project_file_types = []
for file in file_names:
    project_names.append(file.split('_')[0])
    project_types.append(file.split('_')[1].split('.')[0])
    project_file_types.append(file.split('.')[1])
project_names

['AltosDelValle',
 'AltosDelValle',
 'Junge',
 'Junge',
 'Mil610',
 'Mil610',
 'SanAndresDelValle',
 'SanAndresDelValle',
 'Urban',
 'Urban']

In [4]:
import pandas as pd
dfs = []

for file_dir in dir_files:
    df = pd.read_excel(file_dir,header=0)
    dfs.append(df)

In [5]:
project_types

['Cotizaciones',
 'Negocios',
 'Cotizaciones',
 'Negocios',
 'Cotizaciones',
 'Negocios',
 'Cotizaciones',
 'Negocios',
 'Cotizaciones',
 'Negocios']

# Data Exploration Single File

In [6]:
def get_col_group_description(df,col):
    num_cot = []
    info = dict()
    for group, frame in df.groupby(col):
        num_cot.append(len(frame))
    #     print('There are ' + str(len(frame)) + ' records in group ' + str(group) + ' for processing.')

    cot_serie = pd.Series(num_cot)
    info['count'] = cot_serie.count()
    info['max'] = cot_serie.max()
    info['mean'] = cot_serie.mean()
    info['std'] = cot_serie.std()
    return info

get_col_group_description(dfs[0],'RUT')

{'count': 231,
 'max': 10,
 'mean': 1.9134199134199135,
 'std': 1.3517595590617344}

In [7]:
df_resume_cot = pd.DataFrame()
df_resume_neg = pd.DataFrame()

In [8]:
cot_index = [index for index in range(0,len(project_types)) if project_types[index] == 'Cotizaciones']
cot_names = [project_names[index] for index in range(0,len(project_names)) if index in cot_index]
cot_types = [project_types[index] for index in range(0,len(project_types)) if index in cot_index]
cot_ftypes = [project_file_types[index] for index in range(0,len(project_file_types)) if index in cot_index]
df_cot = [dfs[index] for index in range(0,len(dfs)) if index in cot_index]

In [9]:
neg_index = [index for index in range(0,len(project_types)) if project_types[index] == 'Negocios']
neg_names = [project_names[index] for index in range(0,len(project_names)) if index in neg_index]
neg_types = [project_types[index] for index in range(0,len(project_types)) if index in neg_index]
neg_ftypes = [project_file_types[index] for index in range(0,len(project_file_types)) if index in neg_index]
df_neg = [dfs[index] for index in range(0,len(dfs)) if index in neg_index]

In [10]:
#rows
df_resume_cot['filas'] = [x.shape[0] for x in df_cot]
df_resume_neg['filas'] = [x.shape[0] for x in df_neg]
print(df_resume_cot.head(1))
print(df_resume_neg.head(1))

   filas
0    442
   filas
0    100

In [11]:
#cols
df_resume_cot['cols'] = [x.shape[1] for x in df_cot]
df_resume_neg['cols'] = [x.shape[1] for x in df_neg]
print(df_resume_cot.head(1))
print(df_resume_neg.head(1))

   filas  cols
0    442    31
   filas  cols
0    100    38

In [12]:
#fechas min, max
df_resume_cot['fecha_min'] = [pd.to_datetime(df['Fecha Cotizacion'].tolist()).min() for x in df_cot]
df_resume_neg['fecha_min'] = [pd.to_datetime(df['Fecha Cotizacion'].tolist()).min() for x in df_neg]
df_resume_cot['fecha_max'] = [pd.to_datetime(df['Fecha Cotizacion'].tolist()).max() for x in df_neg]
df_resume_neg['fecha_max'] = [pd.to_datetime(df['Fecha Cotizacion'].tolist()).max() for x in df_neg]
print(df_resume_cot.head(1))
print(df_resume_neg.head(1))

   filas  cols               fecha_min               fecha_max
0    442    31 2017-03-27 17:03:29.563 2018-04-26 16:50:07.440
   filas  cols               fecha_min               fecha_max
0    100    38 2017-03-27 17:03:29.563 2018-04-26 16:50:07.440

In [13]:
#ruts
df_resume_cot['ruts_unicos'] = [len(x['RUT'].unique()) for x in df_cot]
df_resume_neg['ruts_unicos'] = [len(x['RUT'].unique()) for x in df_neg]
print(df_resume_cot.head(1))
print(df_resume_neg.head(1))

   filas  cols               fecha_min               fecha_max  ruts_unicos
0    442    31 2017-03-27 17:03:29.563 2018-04-26 16:50:07.440          231
   filas  cols               fecha_min               fecha_max  ruts_unicos
0    100    38 2017-03-27 17:03:29.563 2018-04-26 16:50:07.440           57

In [14]:
#ruts mean, std, max()
df_resume_cot['ruts_mean'] = [get_col_group_description(x,'RUT')['mean'] for x in df_cot]
df_resume_neg['ruts_mean'] = [get_col_group_description(x,'RUT')['mean'] for x in df_neg]

df_resume_cot['ruts_std'] = [get_col_group_description(x,'RUT')['std'] for x in df_cot]
df_resume_neg['ruts_std'] = [get_col_group_description(x,'RUT')['std'] for x in df_neg]

df_resume_cot['ruts_max'] = [get_col_group_description(x,'RUT')['max'] for x in df_cot]
df_resume_neg['ruts_max'] = [get_col_group_description(x,'RUT')['max'] for x in df_neg]

print(df_resume_cot.head(1))
print(df_resume_neg.head(1))

   filas  cols               fecha_min               fecha_max  ruts_unicos  \
0    442    31 2017-03-27 17:03:29.563 2018-04-26 16:50:07.440          231

   ruts_mean  ruts_std  ruts_max
0    1.91342   1.35176        10
   filas  cols               fecha_min               fecha_max  ruts_unicos  \
0    100    38 2017-03-27 17:03:29.563 2018-04-26 16:50:07.440           57

   ruts_mean  ruts_std  ruts_max
0   1.754386  1.366444         7

In [15]:
df_resume_neg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
filas          5 non-null int64
cols           5 non-null int64
fecha_min      5 non-null datetime64[ns]
fecha_max      5 non-null datetime64[ns]
ruts_unicos    5 non-null int64
ruts_mean      5 non-null float64
ruts_std       5 non-null float64
ruts_max       5 non-null int64
dtypes: datetime64[ns](2), float64(2), int64(4)
memory usage: 400.0 bytes

In [16]:
# otro datos negocios
#(len(x[x['Estado'] == 'Anulada'])/y['#filas'])
#('string' + str(len(x[x['Estado'] == 'Anulada'])) + " " +str(y))
df_resume_neg['%es_anulados']  = [(len(x[x['Estado'] == 'Anulada'])/y) for x,y in zip(df_neg,df_resume_neg['filas'])]
df_resume_neg['%es_promesas']  = [(len(x[x['Estado'] == 'Promesado'])/y) for x,y in zip(df_neg,df_resume_neg['filas'])]
df_resume_neg['%es_reserva']   = [len(x[x['Estado'] == 'Reservado'])/y for x,y in zip(df_neg,df_resume_neg['filas'])]
df_resume_neg['%esc_desistido'] = [len(x[x['Estado Comercial'] == 'Desistimiento'])/y for x,y in zip(df_neg,df_resume_neg['filas'])]
df_resume_neg['%esc_normal']    = [len(x[x['Estado Comercial'] == 'Normal'])/y for x,y in zip(df_neg,df_resume_neg['filas'])]

df_resume_neg

,filas,cols,fecha_min,fecha_max,ruts_unicos,ruts_mean,ruts_std,ruts_max,%es_anulados,%es_promesas,%es_reserva,%esc_desistido,%esc_normal
0,100,38,2017-03-27 17:03:29.563,2018-04-26 16:50:07.440,57,1.754386,1.366444,7,0.670000,0.220000,0.110000,0.040000,0.950000
1,101,38,2017-03-27 17:03:29.563,2018-04-26 16:50:07.440,52,1.942308,1.487378,7,0.504950,0.079208,0.188119,0.128713,0.811881
2,76,38,2017-03-27 17:03:29.563,2018-04-26 16:50:07.440,47,1.617021,0.898143,5,0.500000,0.065789,0.065789,0.065789,0.868421
3,1814,38,2017-03-27 17:03:29.563,2018-04-26 16:50:07.440,801,2.264669,1.822735,17,0.661521,0.085998,0.122933,0.127894,0.829658
4,196,38,2017-03-27 17:03:29.563,2018-04-26 16:50:07.440,120,1.633333,1.194760,8,0.500000,0.331633,0.168367,0.147959,0.841837

# Data Exploration Combined Files

In [54]:
# concat cotizaciones
cot_all = pd.concat(df_cot)
neg_all = pd.concat(df_neg)

print(cot_all.shape[0])

cot_all_resume = pd.DataFrame()
neg_all_resume = pd.DataFrame()

16238

In [69]:
#rows
df = cot_all
print("Filas "+str(df.shape[0]))
print("Columnas "+str(df.shape[1]))
print(pd.to_datetime(df['Fecha Cotizacion'].tolist()).min())
print(pd.to_datetime(df['Fecha Cotizacion'].tolist()).max())
print(len(df['RUT'].unique()))
print(get_col_group_description(df,'RUT')['mean'])
print(get_col_group_description(df,'RUT')['std'])
print(get_col_group_description(df,'RUT')['max'])

Filas 16238
Columnas 31
2013-08-19 16:58:26
2018-04-27 12:13:48
5905
2.7498729889923794
2.69495797931767
45